# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend
backend/db.sqlite3
backend/staticfiles/
backend/media/uploads/
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# Virtual environment
.venv/

# Log files
*.log
