@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars while maintaining scroll functionality */
.hide-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
